.leftSection {
    background-color: white; /* Changed background color to white */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 10%;
}

.text1 {
    color: black; /* Changed text color to black */
    font-size: 20px;
}

.newChat div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newChat svg {
    width: 30px;
    height: 30px;
    color: black; /* Changed icon color to black */
}

.allChats {
    height: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
}
